<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Edit A Tag</title>
</head>
<body>
    <h1>Edit A Tag</h1>

        <form method="POST" action="/tags/{{tag.id}}/edit">
            
            <div class="form-group row">
                <label for="title" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input class="form-control" id="name" name="name" value="{{tag.name}}">
            </div>
            </div>

            <div class="form-group row form-check">
                {% for post in posts %}
                <div>
                  <input
                          class="form-input"
                          type="checkbox"
                          value="{{ post.id }}"
                          id="post_{{ post.id }}"
                          name="posts"
                          {% if post in tag.posts %}
                          checked
                          {% endif %}
                  >
                  <label class="form-check-label" for="post_{{ post.id }}">
                    {{ post.title }}
                  </label>
                </div>
                {% endfor %}
              </div>

            <button class="btn btn-danger btn-sm" formaction="/tags" formmethod="GET">Cancel</button>
            <button class="btn btn-success btn-sm" type="submit">Edit Tag</button>
        </form>
</body>
</html>