<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Post Details</title>
</head>
<body>
    <h1>{{post.title}}</h1>
    
    <p>{{post.content}}</p>
    
    <p><i>By {{post.user.full_name}} on {{post.friendly_date}}</i></p>

        
        <form>
            <button name="cancel" formmethod="GET" formaction="/users/{{post.user_id}}">Cancel</button>
            <button class="btn btn-primary btn-sm" formaction="/posts/{{post.id}}/edit" formmethod="GET">Edit</button>
            <button class="btn btn-danger btn-sm" formaction="/posts/{{post.id}}/delete" formmethod="POST">Delete</button>
        </form>

</body>
</html>