<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Show Tags</title>
</head>
<body>
    <h1>Posts With Tag of {{tag.name}}</h1>

            <ul>
                {% for post in tag.posts %} 
                <li><a href="/posts/{{ post.id }}">{{post.title}}</a></li>
                {% endfor %}
            </ul>

            <form>
            <button class="btn btn-primary btn-sm" formaction="/tags/{{tag.id}}/edit" formmethod="GET">Edit</button>
            <button class="btn btn-danger btn-sm" formaction="/tags/{{tag.id}}/delete" formmethod="POST">Delete</button>
            </form>
</body>
</html>
